<a href="https://colab.research.google.com/github/CristianBaqui/Taller-Computaci-n-Python/blob/main/Taller1_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Manipulación de strings

In [ ]:
# Datos iniciales
nombre = "juliana rodriguez"
pais = "VENEZUELA"
ciudad = "caracas"

# 1. Convierte el nombre a formato título
nombre_titulo =

# 2. Convierte el país y ciudad a formato título
pais_titulo =
ciudad_titulo =

# 3. Cuenta cuántas 'a' hay en el nombre
cantidad_a =

# 4. Reemplaza todas las 'e' por '3' en el nombre
nombre_modificado =

# 5. Crea un mensaje completo
mensaje =

# 6. Encuentra la primera posición de 'rodriguez' en el nombre
posicion =

# 7. Obtén solo el primer nombre (antes del espacio)
primer_nombre =

## Python como calculadora

In [ ]:
# Variables iniciales
x, y, z = 15, 8, 3
a = 2.5
b = 4.7

# 1. Operaciones básicas
suma_total =
producto_xy =
division =
resto =

# 2. Potencias
x_elevado_z =
raiz_cuadrada = # usa ** 0.5

# 3. Comparaciones (resultado True/False)
x_mayor_y =
suma_mayor_20 =
producto_es_par = # pista: usa % 2

# 4. Operaciones con decimales
promedio_ab =
diferencia_absoluta = # usa abs()

# 5. Operaciones combinadas
resultado_complejo =

## Listas

In [ ]:
# Lista inicial
frutas = ["manzana", "pera", "durazno", "manzana", "fresa"]

# 1. Información básica
longitud_lista =
primera_fruta =
ultima_fruta =
penultima_fruta =

# 2. Agregar elementos
# Agrega "mango" al final

# Agrega "kiwi" al final

# Inserta "naranja" en la posición 2

# 3. Modificar elementos
# Cambia la primera fruta por "Manzana Verde"

# Cambia la última fruta por "Frutilla"

# 4. Eliminar elementos
# Elimina la primera "manzana" que encuentre

# Elimina el último elemento

# Elimina el elemento en posición 1

# 5. Buscar y contar
cantidad_manzanas =
posicion_pera =

# 6. Sublistas (slicing)
primeras_dos =
ultimas_tres =
del_segundo_al_cuarto =

print("Estado final de frutas:", frutas)

## Listas (parte 2)

In [ ]:
# Lista anidada (como en tu clase)
productos = [
    ["manzana", "pera", "uvas"],           # índice 0
    ["lechuga", "tomate", "cebolla"],      # índice 1
    ["pollo", "carne", "pescado"]          # índice 2
]

# 1. Acceder a elementos específicos
segunda_fruta =
primera_verdura =
tercera_carne =

# 2. Modificar elementos anidados
# Cambia "pescado" por "salmón"

# Cambia "uvas" por "sandía"

# 3. Agregar elementos a sublistas
# Agrega "apio" a las verduras

# Agrega "cerdo" a las carnes

# 4. Agregar nueva categoría completa
# Agrega una lista de lácteos: ["leche", "queso", "yogurt"]

# 5. Contar elementos
total_frutas =
total_verduras =
total_productos =

# 6. Buscar en listas anidadas
# ¿Está "tomate" en verduras?
tomate_en_verduras =

print("Productos finales:", productos)

## Diccionarios (parte 1)

In [ ]:
# Diccionario inicial
estudiante = {
    "nombre": "María",
    "apellido": "Contreras",
    "pais": "Colombia",
    "edad": 20,
    "asignaturas": ["Computación", "Inglés"],
    "calificaciones": [4.8, 4.7]
}

# 1. Acceder a datos
nombre_completo =
primera_asignatura =
primera_nota =

# 2. Modificar datos existentes
# Cambia la edad a 21

# Cambia el país a "Venezuela"

# 3. Agregar nuevos datos
# Agrega "email": "yesenia@email.com"

# Agrega "telefono": "555-1234"

# 4. Trabajar con listas dentro del diccionario
# Agrega "Matemáticas" a asignaturas

# Agrega la calificación 4.5

# 5. Obtener información del diccionario
todas_las_claves =
todos_los_valores =

# 6. Crear segundo estudiante
estudiante2 = {
    "nombre": "Carlos",
    "apellido": "Mendez",
    "pais": "México",
    "edad": 22,
    "asignaturas": ["Física", "Química"],
    "calificaciones": [4.2, 3.9]
}

# 7. Comparaciones entre estudiantes
edad_mayor =
mejor_primera_nota =

print("Estudiante 1:", estudiante)
print("Estudiante 2:", estudiante2)

## Diccionarios parte 2

In [ ]:
# Lista de estudiantes
estudiantes = [
    {"nombre": "Ana", "edad": 20, "notas": [4.5, 4.2, 4.8]},
    {"nombre": "Luis", "edad": 19, "notas": [3.8, 4.1, 3.9]},
    {"nombre": "María", "edad": 21, "notas": [4.9, 4.7, 4.6]}
]

# 1. Acceder a datos específicos
nombre_primer_estudiante =
segunda_nota_de_luis =
edad_de_maria =

# 2. Modificar datos
# Cambia la edad de Ana a 21

# Agrega una nota 4.3 a Luis

# 3. Agregar nuevo estudiante
nuevo_estudiante =
# Agrégalo a la lista

# 4. Calcular información
total_estudiantes =
suma_edades =

# 5. Buscar información
# ¿Cuántos estudiantes tienen más de 20 años?
mayores_20 =

print("Lista final de estudiantes:", estudiantes)

## Conjuntos

In [ ]:
# Conjuntos iniciales (como en tu clase)
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
C = {1, 3, 5, 7, 9}

# 1. Operaciones básicas
union_AB =
interseccion_AB =
diferencia_AB =
diferencia_BA =

# 2. Operaciones con tres conjuntos
union_ABC =
interseccion_ABC =

# 3. Agregar y quitar elementos
# Agrega 10 al conjunto A

# Quita el 2 del conjunto A

# 4. Verificaciones
tiene_6_A =
tiene_5_B =
esta_vacio = len() == 0

# 5. Crear conjuntos desde listas
numeros_duplicados = [1, 2, 2, 3, 3, 3, 4, 4, 5]
numeros_unicos =

print("A:", A)
print("B:", B)
print("C:", C)

## Bucles básicos

In [ ]:
# 1. Bucle for con lista de nombres
nombres = ["Ana", "Luis", "Carlos", "María"]

# Imprime cada nombre con "Hola" delante
for nombre in nombres:


# 2. Bucle for con números
numeros = [10, 15, 20, 25, 30]

# Calcula el cuadrado de cada número
cuadrados = []
for numero in numeros:


# 3. Bucle for con range
# Imprime números del 1 al 10
for i in range():


# 4. Bucle while simple
contador = 0
# Imprime números del 0 al 4
while contador < 5:



# 5. Bucle con condiciones
notas = [4.5, 3.2, 4.8, 2.9, 4.1]
aprobados = 0
reprobados = 0

for nota in notas:
    if nota >= 3.0:

    else:


print(f"Aprobados: {aprobados}, Reprobados: {reprobados}")

## Ejercicio final

In [ ]:
# Crea tu propia información personal
mi_informacion = {
    "nombre": "",
    "edad": ,
    "ciudad": "",
    "hobbies": [],
    "colores_favoritos": [],
    "numeros_favoritos": []
}

# Completa la información
# Modifica algunos datos
# Agrega nueva información
# Haz operaciones con las listas
# Calcula estadísticas de tus números favoritos

print("Mi información completa:", mi_informacion)